<div class="examDiv">
    <h2>Add Exam</h2>
    <div>
        <form (submit)="onSubmitNewTest()">
            <mat-form-field class="example-form-field">
                <mat-label>Test ID</mat-label>
                <input type="text" matInput name="testID" [(ngModel)]="testID">
                <button mat-button *ngIf="testID" matSuffix mat-icon-button aria-label="Clear" (click)="testID=''">
                  <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <br>
            <mat-form-field class="example-form-field">
                <mat-label>Date</mat-label>
                <input type="datetime-local" matInput name="testDate" [(ngModel)]="testDate">
                <button mat-button *ngIf="testDate" matSuffix mat-icon-button aria-label="Clear" (click)="testDate=''">
                  <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Duration</mat-label>
                <mat-select name="testDuration" [(ngModel)]="testDuration">
                    <mat-option [value]="5">
                        5 Minute
                    </mat-option>
                    <mat-option [value]="30">
                        30 Minute
                    </mat-option>
                    <mat-option [value]="60">
                        1 Hour
                    </mat-option>
                    <mat-option [value]="120">
                        2 Hour
                    </mat-option>
                    <mat-option [value]="180">
                        3 Hour
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Marks for Correct Answer</mat-label>
                <mat-select name="marksForRightAnswer" [(ngModel)]="marksForRightAnswer">
                    <mat-option [value]="1">
                        +1
                    </mat-option>
                    <mat-option [value]="2">
                        +2
                    </mat-option>
                    <mat-option [value]="3">
                        +3
                    </mat-option>
                    <mat-option [value]="4">
                        +4
                    </mat-option>
                    <mat-option [value]="5">
                        +5
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Marks for Wrong Answer</mat-label>
                <mat-select name="marksForWrongAnswer" [(ngModel)]="marksForWrongAnswer">
                    <mat-option [value]="0">
                        0
                    </mat-option>
                    <mat-option [value]="-1">
                        -1
                    </mat-option>
                    <mat-option [value]="-1.25">
                        -1.25
                    </mat-option>
                    <mat-option [value]="-1.50">
                        -1.50
                    </mat-option>
                    <mat-option [value]="-2">
                        -2
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" type="submit" value="Submit">Submit</button>
        </form>
    </div>
    <br>
    <app-exam-list></app-exam-list>
</div>