.mainLogin {
    display: grid;
    place-items: center;
    height: 100vh;
}

form {
    display: grid;
    place-items: center;
    padding: 5%;
}

.student-full-width {
    width: 100%;
}

.signin-card {
    display: grid;
    height: 500px;
    width: 400px;
}

.profile-icon {
    text-align: center;
    height: 81px;
    width: 81px;
    place-content: center;
    margin: 0 auto;
    font-size: 80px;
    padding: 5px;
}